.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}
.footer-text p{
    font-size: 1.6rem;text-align: center;
}
@media (max-width:449px) {
    .footer-text p{
        font-size: 1.2rem;
    }
}